/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца +
✦ card__like-button — для кнопки Like рядом с иконкой +
✦ card__icon-button — для кнопки, оборачивающей иконку +
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки + 

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 102px auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--thin-font-weight);
  color: var(--accent-color);
  background-color: var(--main-color);
  background-image: var(--main-background);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: clamp(375px, 16.2852rem + 30.5164vw, 700px);
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-bottom: 102px;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__text-title {
  font-family: inherit;
  font-size: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  text-decoration: none;
}

.header__text-desc {
  font-family: inherit;
  font-size: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  padding: 25px 0;
  margin-left: 18px;
}

.theme-menu__item {
  font-family: inherit;
  font-size: 14px;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.theme-menu__button {
  position: relative;
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
  inset-block-start: 0px;
  animation: cursor-key 500ms infinite ease-in-out alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

.theme-menu__button:enabled:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  background: var(--accent-color);
  width: 100%;
  height: 2px;
  inset-inline-start: 0px;
  inset-block-start: 15px;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  width: clamp(375px, 16.2852rem + 30.5164vw, 700px);
  margin-bottom: 54px;
}

.cards {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 52px;
}

.cards-item {
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
}

.card-title {
  padding: 5px 10px;
  border-bottom: 2px solid var(--accent-color);
}

.card-title-text {
  font-family: inherit;
  font-size: 18px;
  font-variation-settings: "wght" var(--bold-font-weight);
}

.card-image {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
}

.card-image-title {
  position: absolute;
  text-transform: uppercase;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--main-color), 0 1px var(--main-color),
    1px 0 var(--main-color), 0 -1px var(--main-color);
    z-index: 1;
}

@supports (
  (-webkit-text-stroke: 1px var(--main-color)) or
    (text-stroke: 1px var(--main-color))
) {
  .card-image-title {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color);
  }
}

.card-image-file {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.brightness {
  filter: brightness(105%);
}

.saturate-blur {
  filter: saturate(200%) blur(1px);
}

.grayscale {
  filter: grayscale(0.5);
}

.sepia {
  filter: sepia(35%);
}

.contrast {
  filter: contrast(95%);
}

.saturate {
  filter: saturate(125%);
}

.opacity {
  filter: opacity(0.7);
}

.hue-rotate {
  filter: hue-rotate(45deg);
}

.card-desc {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 27px;
}

.card-desc-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.card-desc-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 25px;
  padding-right: 25px;
  gap: 5px;
}

.card__like-button/*, .dialog-button  */
{
  position: relative;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 130px;
  border: 2px solid var(--accent-color);
  padding: 10px 17px;
  background-color: transparent;
  outline: none;
}

/* .card-desc-button:focus
, .footer-button:focus,
.dialog-button:focus 
{
  outline: none;
} */

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color)
}

.all-button-effect:focus-visible
/* ,.footer-button:focus-visible,
.dialog-button:focus-visible  */
{
  box-shadow: 2px 2px 0 var(--accent-color);
}

.all-button-effect::before
/* ,.footer-button::before,
.dialog-button::before  */
{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
  background: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  height: 100%;
}

.all-button-effect:hover::before
/* ,.footer-button:hover::before,
.dialog-button:hover::before  */
{
  transform: scaleX(1);
}

.button__text,
.button-floppy {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  /* outline: none; */
  border: none;
  background-color: transparent;
}

.like-icon {
  fill: var(--accent-color);
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--heart-contour-color);
}

.main-body {
  fill: var(--main-color);
}

.core {
  fill: var(--main-color);
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
}

.like-icon:active .main-body {
  fill: var(--heart-main-body-color);
}

.like-icon:active .core {
  fill: var(--heart-main-body-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-main-body-color);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-body-color);
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-body-color);
}

.like-icon.like-icon.is-liked .heart {
  transform-origin: center;
}

.like-icon.like-icon.is-liked .sparks {
  transform-origin: center;
}

.bottom-button {
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.footer-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  outline: none;
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
  padding: 15px 20px;
}

.button-floppy {
  width: 21px;
  height: 21px;
}

.dialog {
  border: 2px solid var(--accent-color);
  padding-inline: 40px;
  padding-block: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--main-color);
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  /* backdrop-filter: blur(7px); */
}

.dialog-head {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
}

.dialog-button {
  width: 100%;
  text-transform: uppercase;
}

.dialog-floppy {
  width: 39px;
  height: 39px;
}

@media (width <= 375px) {
  .header {
    width: 100vw;
  }

  .main {
    width: 100vw;
  }

  .card-image-title {
    inset-inline-end: 11px;
  }

  .footer-button {
    width: 100%;
    flex-direction: column;
  }

  .button-floppy {
    width: 28px;
    height: 28px;
  }
}
